<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
	<link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'https://unicons.iconscout.com/release/v4.0.0/css/line.css' %}">
    <title>JobSeeker | Signup</title>
	

</head>
<body>

	{% include 'base.html' %}


    <div class="row">
        {% for job in job_data %}
        <div class="column">
      
      
          <!-- {% if job.companylogo == "noimage" %}
            {% load static %}
            <img src="{% static '/images/noimageavailable.jpeg' %}" alt="noimage" style="width:5%">
          {% else %}
            <img src="{{job.companylogo}}" alt="logo" style="width:5%">
          {% endif %} -->
      
          <div>
            <a href="{{job.jobdetailurl}}" >
                <form method="POST" action="remove_job">

                </form>
                <div class="middle">
                    <div class="card">
                      <div class="h2">{{job.jobtitle}}</div>
                      <div class="h3">{{job.company_name}}</div>
                      <h4>{{job.location}}</h4>
                      <!-- <div class="salary">&nbsp;&nbsp;&nbsp;<i class="fa fa-rupee"></i>&nbsp;&nbsp;&nbsp;50,000</div>
                      <div class="skills">Skills: </div> -->
                      <a href="remove">Remove</a>
                    </div>
                <div>
            </a>
          </div>
      
        </div>
        {% endfor %}
      </div>
      
	
</body>
</html>
